html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
.container2 {
  background-color: #eeeeee2a;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/background.jpg");
  background-size: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  max-width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.buttons {
  width: 300px;
  border-radius: 1.4rem;
  background-color: #1c658cda;
  color: #eeeeee;
  font-size: x-large;
  display: block;
  margin: 15px;
  border: none;
  padding: 15px;
  text-decoration: none;

  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.1s;
}

.buttons:hover {
  transform: scale(1.1);
}
