    <div id="right">
        <form action="" class="editProfileForm">
            <div id="profileDiv">Edit Security</div>
            <div class="formInput">
                <label for="emailInput">E-mail</label>
                <input type="text" class="inputs" id="emailInput">
            </div>
            <div class="formInput">
                <label for="passwordInput">Password</label>
                <input type="text" class="inputs" id="passwordInput">
            </div>
            <div class="formInput">
                <label for="repeatPasswordInput">Repeat Password</label>
                <input type="text" class="inputs" id="repeatPasswordInput">
            </div>
            <div id="buttonChanges">
                <button id="saveButton" class="rightButtons">Save Changes</button>
                <button id="discardButton" class="rightButtons">Discard Changes</button>
            </div>
        </form>
    </div>
