body { margin:0px; padding: 0px; }
html { margin: 0px; padding: 0px;}


#screen
{
  max-width: 100%;
  max-height: 100%;
}
.order
{
  width: 70%;
  height: 20%;
  background-color: #D8D2CB;
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
}
.infoDiv
{
  height: 100%;
  width: 80%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  float: left;
}
.info
{
  margin: 5px !important;
  font-size: 40px;
  color: #1c658c;
}
.buttonDiv
{
  width: 20%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
}
button
{
  color: #eeeeee;
  width: 60%;
  font-size: 15px !important;
  background-color: #1c658c;
  border-radius: 10px;
  border: none;
  display: block;
  height: 35%;
  position: relative;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
button:hover
{
  background-color: #D8D2CB !important;
  color: #398AB9;
  border: 1px solid #398AB9;
  box-sizing: border-box;
}
