<div class="left">
        <div class="imageDiv">
            <img src="../assets/logo/iconWhite.png" alt="" routerLink="/viewEvents">
        </div>
        <div>
            <button id="editProfileButton" class="sideButtons" routerLink="/editProfile">Edit Profile</button>
            <button id="securityButton" class="sideButtons" routerLink="/security">Security</button>
            <button id="eventHistoryButton" class="sideButtons" routerLink="/viewOrders">Event History</button>
            <button id="signOutButton" class="sideButtons" routerLink="/welcome">Sign Out</button>
        </div>
</div>
