<div class="container">
    <div id="right">
        <form action="" class="editProfileForm">
            <div id="profileDiv">
                <img src="../assets/default_profile.png" alt="" id="profileImage">

            </div>
            <div class="formInput">
                <label for="emailInput">E-mail</label>
                <input type="text" class="inputs" id="emailInput">
            </div>
            <div class="formInput">
                <label for="passwordInput">Password</label>
                <input type="text" class="inputs" id="passwordInput">
            </div>
            <div class="formInput">
                <label for="repeatPasswordInput">Repeat Password</label>
                <input type="text" class="inputs" id="repeatPasswordInput">
            </div>
            <div id="buttonChanges">
                <button id="saveButton" class="rightButtons">Save Changes</button>
                <button id="discardButton" class="rightButtons">Discard Changes</button>
            </div>
        </form>
    </div>
    <div class="left">
        <div class="imageDiv">
            <img src="../assets/logo/iconWhite.png" alt="" routerLink="/viewEvents">
        </div>
        <div>
            <button id="editProfileButton" class="sideButtons" routerLink="/editProfile">Edit Profile</button>
            <button id="securityButton" class="sideButtons" routerLink="/security">Security</button>
            <button id="eventHistoryButton" class="sideButtons" routerLink="/viewOrders">Event History</button>
            <button id="signOutButton" class="sideButtons" routerLink="/welcome">Sign Out</button>
        </div>
    </div>
</div>
