<div class="main">

    <div class="popup">
        <div class="imageDiv">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FajEPvNJ9dPg%2Fmaxresdefault.jpg&f=1&nofb=1" alt="">
        </div>
        <h1>Spider-Man 3</h1>
        <div class="infodiv">
            <label for="Venue" class="upperLabels">Venue</label>
            <label for="Timing" class="upperLabels">Timing</label>
            <label for="Tickets" class="upperLabels">Tickets</label>
            <input type="text" placeholder="Venue" class="info" id="Venue">
            <input type="text" placeholder="Timing" class="info" id="Timing">
            <input type="text" placeholder="Tickets" class="info" id="Tickets">
        </div>
        <div class="infodiv">
            <label for="Price" id="labelPrice">Price</label>
            <input type="text" placeholder="Price" class="info" id="Price">
            <button id="buyButton">Buy Tickets</button>
            <button id="discardButton">Cancel</button>
        </div>

    </div>
    
</div>